parameters:
	ignoreErrors:
		-
			message: '#^Call to function in_array\(\) with arguments ''Monitor\\\\Job…'', array\<string, class\-string\> and true will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Processor/BatchJobProcessor.php

		-
			message: '#^Call to function in_array\(\) with arguments ''Monitor\\\\Job…'', array\<string, class\-string\> and true will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Processor/ChainedJobProcessor.php

		-
			message: '#^Call to function in_array\(\) with arguments ''Monitor\\\\Job…'', array\<string, class\-string\> and true will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Service/BatchDispatcher.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Service/BatchDispatcher.php

		-
			message: '#^Variable \$updates in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Storage/RedisBatchStorage.php
